@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=E5F3A5E8-EC97-4A53-83A5-7E8A63D54159
@mobiscroll:registry=https://mobiscroll.com/EULA
//npm.mobiscroll.com/:_authToken=c597b5b4-9c83-4a84-8a69-3bb68baa8b75
