@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=9A01E036-9AC6-4746-A0BB-16D32F7D5A50

@mobiscroll:registry=https://mobiscroll.com/EULA
//npm.mobiscroll.com/:_authToken=c597b5b4-9c83-4a84-8a69-3bb68baa8b75
