.tabs .nav-link {
    color: #495057;
    background-color: #fff !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}
.tabs .nav-link.active {
    color: white !important;
    background-color: #183561 !important;
    border-color: #183561 #183561 #183561 !important;
}
.btn-group {
    width: 100%;
}
p.celc::after {content: '\00B0';}

p.celc {
    font-size: 45px;
}
.overlay i.fa.fa-star {
    font-size: 9px;
    color: #6d75eb;
}
.overlay h5 {
    margin: 0px !important;
}
.overlay p span {
    margin-right: 18px;
}

.overlay p {
    font-size: 15px;
    margin-bottom: 3px;
}
.weather {
    background: #183561b5;
    padding: 10px;
}

i.fa.fa-cloud-sun.fa-flip-horizontal {
    font-size: 51px;
    text-align: center;
}

p.weather-time {
    font-size: 32px;
}
.offers {
    background: #183561bf;
    padding: 20px;
    height: 164px;
    margin: 10px 0px;
}
.text-right {
    text-align: right;
}
.overlay {
    background: #ffffffd9;
}
.col-md-4.my-3.d-flex {
    justify-content: center;
}
i.fa.fa-lightbulb-o {
    font-size: 40px;
    padding-right: 9px;
}
i.fa.fa-check-circle{
    font-size: 40px;
    padding-right: 9px;
}
.overlay1 {
  
    background: #ffffff85;
    padding: 10px;
}
.overlay2.text-right {
    
    background: #ffffff85;
    padding: 10px;
}
.summer-text {
    background: #ffffffd6;
    padding: 34px;
    padding-bottom: 102px;
}
.text-darkblue p {
    color: #13345c;
    font-size: 19px;
}
.Holidays1 h4{
    color: #13345c;
}

.over p {
    color: #01254f;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.over1 button.btn.btn-primary.float-right {
    margin-top: -39px;
}
.row {
    --bs-gutter-x: 0.5rem;
}
.summer-text p {
    font-size: 20px;
    color: #01254f;
}
.weather.float-right {
    padding: 12px;
    background: #183561b5;
}
.overlay1 p {
    font-size: 17px;
    color: #012650;
    font-weight: 500;
    text-transform: uppercase;
}
.over h3 {
    text-transform: uppercase;
    font-size: 23px;
}
.over1 p {
    color: #01254f;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.float-right {
    float: right;
}

.over1 h3 {
    text-transform: uppercase;
    font-size: 23px;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    top: -15px;
}
.flush{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    top: -15px;
}
.suggection {
    position: absolute;
    margin-top: 13px;
    display: none;
    z-index: 99;
}
.suggection1 {
    position: absolute;
    margin-top: 13px;
    display: none;
    z-index: 99;
}
.first-list{
    border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
        margin-top: 10px;
}
.summer {
    background-image: url(../banner1.png);
    background-position: center bottom;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
.flight {
    background-image: url(../pack1.png);
    height: 248px;
    position: relative;
    padding-top: 48%;
    background-repeat: no-repeat;
    background-size: cover;
}
.holiday {
    background-image: url(../pack.png);
    height: 248px;
    position: relative;
    padding-top: 48%;
    background-repeat: no-repeat;
    background-size: cover;
}
.lists ul li {
    display: inline;
    padding: 14px;
}
.bannerpack {position: absolute;background: #01254f;color: white;top: 26px;padding: 4px 24px 0px 24px;right: 0;}

.bannerpack h3 {
    font-size: 24px;
    font-weight: 400;
}
.family {
    background-image: url(../pack2.png);
    height: 248px;
    padding-top: 27%;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.hotals {
    background-image: url("../home.png");
    padding-top: 66px;
    background-repeat: no-repeat;
    background-size: cover;
}
.Holidays1 {
    background: white;
    color: black;
    padding: 20px;
    width: 80%;
    margin-top: 14px;
    position: absolute;
    display: none;
}

li.holiday-data:hover .Holidays1 {
    display: block;
    z-index: 9;
}
.stars {
    margin-top: -15px;
    margin-bottom: 10px;
}
.stars i {
    background: #46b946;
    padding: 3px;
}
button.btn.btn-primary {
    font-size: 15px;
    background: #01254f !important;
    border-color: #01254f;
}
i.fa.fa-plane {
    color: #6d75eb;
    padding-right: 7px;
}
span.youro {
    color: #6a6aeb;
    font-size: 17px;
    vertical-align: super;
}
.tabs .dropdown-toggle::after {

    content: unset !important;
}
span.sum {
    border: 1px solid white;
    padding: 4px 10px;
    cursor: pointer;
}

span.value {
    background: white;
    padding: 5px 10px;
    color: black;

}
.flighttabs .bottom-arrow {

    border-bottom: 13px solid #022650;
  
}
.flighttabs ul.dropdown-menu.show {
    background: #022650;
}
span.add {
    cursor: pointer;
    border: 1px solid white;
    padding: 4px 10px;
}
.content {
    background: #183561bf;
}
button.btn.btn-secondary.dropdown-toggle {
    background: #022650;
    border: 1px solid #022650;
}
span.text-yellow {
    color: orange;
}

.over {
    background: #ffffffc4;
    margin-top: -13%;
    position: absolute;
    margin-left: 16px;
    padding: 13px;
}
.over1 {
    background: #ffffffc4;
    margin-top: -15%;
    position: absolute;
    margin-left: 16px;
    padding: 13px;
}
.last-section p {
    color: #033672;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1;
}

.rating:hover>input:checked~label:before {
    opacity: 0.4;
}

@media only screen and (max-width: 768px) {
    .over { 
        margin-top: -45%;
    }
    .over1 {
      
        margin-top: -41%;
  
        margin-right: 16px;
    }
    .family {
        padding-top: 37%;
    }
    ul#myTab {
        margin-top: 70px ;
        width: 100%;
    }

    div#navbarSupportedContent ul li a {
        color: black !important;
    }
    
    div#navbarSupportedContent {
        background: white;
        padding: 10px;
    }
.holiday {
  
    padding-top: 71%;
   
}
.family {
    background-position: right;
}
.col-md-2.col-4 img {
    height: 100%;
}
.over {
    background: #ffffffc4;
    margin-top: -49%;
}
.over1 {
    background: #ffffffc4;
    margin-top: -43%;
}
}