.tabs .nav-link.active {
    color: #183561 !important;
    background-color: #fff !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
    border-bottom: 0px !important;
}
.tabs .nav-link {
    color: white !important;
    background-color: #2b4f7c !important;
    border-color: #2b4f7b #2b4f7b #2c4f7c !important;
    border-radius: 0px !important;
}
.btn-group {
    width: 100%;
}
p.celc::after {content: '\00B0';}

p.celc {
    font-size: 45px;
}
.overlay i.fa.fa-star {
    font-size: 9px;
    color: #6d75eb;
}
.overlay h5 {
    margin: 0px !important;
}
.overlay p span {
    margin-right: 18px;
}

.overlay p {
    font-size: 15px;
    margin-bottom: 3px;
}
.weather {
    background: #183561b5;
    padding: 10px;
}

i.fa.fa-cloud-sun.fa-flip-horizontal {
    font-size: 51px;
    text-align: center;
}

p.weather-time {
    font-size: 32px;
}
.offers {
    background: #183561bf;
    padding: 20px;
    height: 164px;
    position: relative;
    margin-bottom: 18px !important;
    margin: 10px 0px;
}
.deals {
    position: absolute;
    right: 14px;
    bottom: 20px;
}
.text-right {
    text-align: right;
}
.overlay {
    background: #ffffffd9;
}
.col-md-4.my-3.d-flex {
    justify-content: center;
}
i.fa.fa-lightbulb-o {
    font-size: 40px;
    padding-right: 9px;
}
i.fa.fa-check-circle{
    font-size: 40px;
    padding-right: 9px;
}
.overlay1 {
  
    background: #ffffff85;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.col-md-8.overhead {
    position: relative;
}
button.btn.form-control {
    border-radius: 0px !important;
    margin: 0px;
    width: 100% !important;
}
.Filters {
    background: #022650;
    padding: 10px;
    position: absolute;
    margin-top: 47px;
    z-index: 99;
}
.col-md-4.overhead {
    position: relative;
}
.overlay2.text-right {
    
    background: #ffffff85;
    padding: 23px 10px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.summer-text {
    background: #ffffffd6;
    padding: 34px;
    padding-bottom: 102px;
}
.text-darkblue p a{
    color: #13345c;
}
.Holidays1 h4{
    color: #13345c;
}

.over p {
    color: #01254f;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.over1 button.btn.btn-primary.float-right {
    margin-top: -39px;
}
.row {
    --bs-gutter-x: 0.5rem;
}
.summer-text p {
    font-size: 20px;
    color: #01254f;
}
.weather.float-right {
    padding: 12px;
    background: #183561b5;
}
.overlay1 p {
    font-size: 17px;
    color: #012650;
    font-weight: 500;
    text-transform: uppercase;
}
.over h3 {
    text-transform: uppercase;
    font-size: 23px;
}
.over1 p {
    color: #01254f;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.float-right {
    float: right;
}

.over1 h3 {
    text-transform: uppercase;
    font-size: 23px;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    top: -15px;
}
.flush{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    top: -15px;
}
.suggection {
    position: absolute;
    margin-top: 13px;
    display: none;
    z-index: 99;
}
.lists1:hover {
    border-bottom: 2px solid yellow;
    padding-bottom: 3px;
}

li.list-group-item.first {
    border-top: 1px solid rgba(0,0,0,.125);
}
li.list-group-item.last {
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
li.lists1 {
    font-size: 20px;
}
.suggection1 {
    position: absolute;
    margin-top: 13px;
    display: none;
    z-index: 99;
}
.first-list{
    border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
        margin-top: 10px;
}
.summer {
    background-image: url(../banner1.png);
    background-position: center bottom;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
.flight {
    background-image: url(../pack1.png);
    height: 248px;
    position: relative;
    padding-top: 48%;
    background-repeat: no-repeat;
    background-size: cover;
}
.holiday {
    background-image: url(../pack.png);
    height: 248px;
    position: relative;
    padding-top: 48%;
    background-repeat: no-repeat;
    background-size: cover;
}
.lists ul li {
    display: inline;
    padding: 14px;
}
.bannerpack {position: absolute;background: #01254f;color: white;top: 26px;padding: 4px 24px 0px 24px;right: 0;}

.bannerpack h3 {
    font-size: 24px;
    font-weight: 400;
}
.family {
    background-image: url(../pack2.png);
    height: 248px;
    padding-top: 27%;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.hotals {
    background-image: url("../home.png");
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
.row.red {
    border-top: 1px solid;
    margin: 0px;
}
.Holidays1 {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    width: 1000px;
    margin-top: 14px;
    position: absolute;
    display: none;
}
li.lists1 {
    font-size: 20px;
    font-weight: 500 !important;
    padding-left: 8px !important;
}
.lists ul {
    padding: 0px;
    margin: 0px !important;
}
ul.m-lg-auto.mb-2.navbar-nav {
    margin-right: 72px !important;
}
li.holiday-data:hover .Holidays1 {
    display: block;
    z-index: 9;
}
.stars {
    margin-top: -15px;
    margin-bottom: 10px;
}
.stars i {
    background: #46b946;
    padding: 3px;
}
button.btn.btn-primary {
    font-size: 15px;
    background: #01254f !important;
    border-color: #01254f;
}
i.fa.fa-plane {
    color: #6d75eb;
    padding-right: 7px;
}
span.youro {
    color: #6a6aeb;
    font-size: 17px;
    vertical-align: super;
}
.tabs .dropdown-toggle::after {

    content: unset !important;
}
li.list-group-item a {
    text-decoration: none !important;
    font-size: 19px !important;
    color: #13345c !important;
}
p.user a {
    color: #01254f;
}
ul.navbar-nav.mb-2.m-lg-auto ul.dropdown-menu.show {
    right: 0;
    left: unset !important;
}


.col-md-4.overhead img {
    height: 100%;
}
.Contacting {
    background: #fafeff;
}
span.sum {
    border: 1px solid white;
    padding:  4px;
    cursor: pointer;
}
.input-group.mb-3 button.btn.btn-secondary {
    background: #022650;
    border-color: #022650;
}
span.value {
    background: white;
    padding: 5px;
    color: black;

}
button.react-calendar__tile.react-calendar__month-view__days__day {
    border: 1px solid;
  
}

.react-calendar {
    border: 0px !important;
    width: 100% !important;
}
.filterss {
    position: absolute;
    z-index: 99;
    margin-top: -110px;
    width: 1115px;
    display: none;
}
.dayss{
    padding: 20px 55px;
}
i.fa.fa-calendar {
    color: black;
    position: relative;
    right: -85%;
    top: -31px;
}
.lists {
    margin-bottom: 24px;
}
li.list-group-item a:hover {
    text-decoration: underline !important;
}
.filterss1 {
    position: absolute;
    width: 1080px;
    margin-top: -12px;
    z-index: 5;
}
a:hover {
   text-decoration: underline !important;
    padding-bottom: 3px;
}
.flighttabs .bottom-arrow {

    border-bottom: 13px solid #022650;
  position:unset !important;
}
.flighttabs ul.dropdown-menu.show {
    background: #022650;
}
span.add {
    cursor: pointer;
    border: 1px solid white;
    padding:4px;
}
.content {
    background: #183561bf;
}
button.btn.btn-secondary.dropdown-toggle {
    background: #022650;
    border: 1px solid #022650;
}
.text-yellow {
    color: orange;
}
a.text-yellow:hover {
    color: orange;
}
.over {
    background: #ffffffc4;
    position: absolute;
    padding: 13px;
    left: 21px;
    bottom: 30px;
}
.over1 {
    background: #ffffffc4;
    position: absolute;
    padding: 13px;
    left: 21px;
    bottom: 30px;
}
.last-section p {
    color: #033672;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}
.col-md-3.px-5 p {
    font-size: 22px;
}
.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1;
}

.rating:hover>input:checked~label:before {
    opacity: 0.4;
}

@media only screen and (max-width: 768px) {
    .filterss1 {
        position: absolute;
        width: 86%;
    }
    .filterss {
        position: absolute;
        z-index: 99;
        margin-top: -116px;
        width: 91%;
    }
    .hotals {
        margin-top: 15px;
    }
    .hotals {margin-top: 15px;}


.flight {
    margin: 15px 0px;
}

.col-md-8.overhead {
    margin-top: 15px;
}

.over1 {
    bottom: 15px;
}

.col-md-4.overhead {margin-top: 15px;}
    .family {
        padding-top: 37%;
    }
    ul#myTab {
        margin-top: 70px ;
        width: 100%;
    }

    div#navbarSupportedContent ul li a {
        color: black !important;
    }
    
    div#navbarSupportedContent {
        background: white;
        padding: 10px;
    }
.holiday {
  
    padding-top: 71%;
   
}
.family {
    background-position: right;
}
.col-md-2.col-4 img {
    height: 100%;
}
.over {
    background: #ffffffc4;
    margin-top: -49%;
}
.over1 {
    background: #ffffffc4;
    margin-top: -43%;
}
}