body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a.nav-link {
  color: #022650 !important;
}
.banner {
   background-color: white;
    color: black;
  
   
}

.Hello {
  
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 670px;
}

div#myTabContent {
  background: #e7f5fd;
  padding: 21px;

}
.nav-tabs {
  border-bottom: 1px solid #e7f5fd !important;
}
nav.navbar.navbar-expand-lg.navbar-light {
  position: absolute;
  width: 89%;
  top: 0;
  max-width: 1383px!important;
  height: 100px;
}
.tabs li.nav-item {
  padding: 0px 10px 0px 0px;
  margin-bottom: 0px;
}