.smalltext p {
    font-size: 12px;
}

.row.last-section a {
    font-size: 24px;
    text-decoration: revert;
}
.hit-125 {
    height : 128px ;
}

.hit-30 {
    height: 30px;
}

.wit-30 {
    width: 30px;
}

.hit-50 {
    height: 50px;
}